li {
  font-size:large;
  margin-bottom:.5%;
}

main {
}

body{
   margin-bottom: 100px;
   margin-right: 8%;
   margin-left: 8%;"
}
footer {
    text-align: center;
}

img.footer {
    vertical-align: middle;
    height: 2em;
    padding: 0.25em;
}

dt {
    font-weight: bold;
}
